.membership {
    background-color: #F4F4F4;
    border-radius: 10px;
    padding: 20px;

    span {
        color: #BF3131;
        font-size: 20px;
        font-weight: 600;
    }

    ul {
        list-style: none;
        padding-left: 0;

        color: #4A4A4A;

        li {
            position: relative;
            padding-left: 15px;
            
            line-height: 150%;

            &::before {
                content: '';
                position: absolute;
                left: 0;
                top: 50%;
                transform: translateY(-50%);
                width: 8px;
                height: 8px;
                background-color: #BF3131;
                border-radius: 50%;
            }
        }
    }
}

.confirmContent {
    height: 70vh;
    span {
        b {
            color: #BF3131;
        }
    }
}

.confirm {
    width: 100%;

    position: absolute;
    bottom: 0;
    left: 0;

    padding: 30px;
  }