.fandomProfile {
    padding: 20px;
}

.image {
    min-width: 90px;
    height: 90px;

    object-fit: cover;

    border-radius: 999px;
    // outline: 5px solid #fff;
}

.data {
    h1 {
        font-size: 20px;

        color: #fff;

        margin: 0;
    }

    span {
        color: #fff;

        font-size: 14px;
    }
}