.inputContainer {
    width: 60%;
    max-width: 400px;
    height: 35px;

    background-color: #fff;
    border-radius: 999px;
    border: 2px solid #BF3131;

    padding: 0 14px;

    color: #6c6c6c;

    &:active {
        opacity: 0.3;
    }

    input {
        width: 100%;
        height: 100%;

        background-color: transparent;
        border: none;
        outline: none;

        color: #BF3131;
    }

    svg {
        color: #BF3131;
    }
}