.questionContainer {
    width: 100%;

    article {
        background-color: #BF3131;
        padding: 20px;

        border-radius: 12px;

        color: white;

        font-size: 17px;
        font-weight: 600;
        line-height: 150%;
    }

    div {
        img {
            width: 25px;
            height: 25px;

            border-radius: 999px;
        }

        span {
            font-weight: 500;
            font-size: 16px;
        }
    }
}

.title {
    font-size: 22px;
    font-weight: 600;

    color: #BF3131;
}

.responseContainer {
    width: 100%;

    textarea {
        height: 250px;
        background-color: #F4F4F4;
        padding: 15px;

        border-radius: 12px;

        color: black;

        font-size: 17px;
        font-weight: 600;
        line-height: 150%;

        border: 0;

        outline: none;
    }
}

.buttonContainer {
    width: 100%;

    position: absolute;
    bottom: 0;
    left: 0;

    padding: 30px;
}