.nav {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 60px;
    background: #ffffff;
    border-top: 1px solid #e0e0e0;
    
    position: 1;
    z-index: 10;

        // 곡선 배경
        &::before {
            content: '';
          }
  }

  .line {
    position: fixed;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
    width: 75px;
    height: 40px;
    background: #ffffff;
    border-top: 1px solid #e0e0e0;
    border-left: 1px solid #e0e0e0;
    border-right: 1px solid #e0e0e0;
    border-radius: 40px 40px 0 0;
    z-index: 9;
  }
  
  .list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding: 0 16px;
    margin: 0;
    list-style: none;
    position: relative;
  
    li {
      width: 100px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  }
  
  .centerButton {
    width: 56px;
    height: 56px;
    border-radius: 50%;
    background: #BF3131;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    cursor: pointer;
    margin-top: -28px; // 버튼을 더 위로 올림
    position: relative;
    z-index: 11;
    outline: 8px solid #ffffff;

    &:active {
      opacity: .05;
    }
  }
  
  .link {
    color: #666;
    text-decoration: none;
    font-size: 14px;
    
    &:hover {
      opacity: .5;
    }
  }