.container {
  width: 100%;
  max-width: 1200px; // 최대 너비 지정
  padding: 20px 0;
  
}

.slide {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto; // 자동 조절
}

.autobannerImage {
  width: 100%;

  img {
    width: 100%;
    height: 180px; // 높이 조정 (필요시 변경 가능)
    object-fit: cover; // 이미지 비율 유지
    border-radius: 8px;
    transition: transform 0.3s ease-in-out;
    border-radius: 10px;
    overflow: hidden;
    &:hover {
      transform: scale(1.05); // 호버 시 확대 효과
    }
  }
}

.hotBannerImage {
  width: 200px;
  height: 200px;

  color: #000;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover; // 이미지 비율 유지
    border-radius: 8px;
    transition: transform 0.3s ease-in-out;
    border-radius: 5px;
    overflow: hidden;
    
    &:hover {
      transform: scale(1.05); // 호버 시 확대 효과
    }
  }

  .hotslidefuck {
    font-size: 22px;

    position: relative;
    top: -50px;
    left: 130px;
  }
}

.circleBannerImage {
  width: 120px;

  display: flex;
  flex-direction: column;
  align-items: center;

  text-decoration: none;

  span {
    color: #000;
    margin-top: 10px;
  }

  img {
    width: 120px;
    height: 120px;
    object-fit: cover; // 이미지 비율 유지
    border-radius: 8px;
    transition: transform 0.3s ease-in-out;
    border-radius: 100%;
    overflow: hidden;
    &:hover {
      transform: scale(1.05); // 호버 시 확대 효과
    }
  }
}

:global(.swiper-pagination-bullet) {
  background-color: #BABABA !important; /* 기본 색상 (토마토색) */
  opacity: 0.5;

  margin-top: 10px;
}

:global(.swiper-pagination-bullet-active) {
  background-color: #7d0a0a !important; /* 활성화된 색상 (오렌지레드) */
  opacity: 1;
}

.innerCircleBannerImage {
  background-color: #fff;
  width: 60px;
  height: 60px;
  border-radius: 8px;
  transition: transform 0.3s ease-in-out;
  border-radius: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.2);
  img {
    width: 100%;
    height: 100%;
    object-fit: cover; // 이미지 비율 유지

    &:hover {
      transform: scale(1.05); // 호버 시 확대 효과
    }
  }
}
