.title {
    font-size: 22px;
    font-weight: 600;

    margin: 0 0 32px 0;
}

.fandomName {
    font-size: 18px;
    font-weight: 500;

    margin: 0;
}

.fandomAbout {
    font-size: 17px;
    font-weight: 400;

    margin: 12px 0;

    color: #747474;
}

.detailSection {
    margin-top: 40px;

    h3 {
        font-size: 18px;
        font-weight: 500;

        margin: 0;
    }

    p {
        font-size: 18px;
        font-weight: 400;

        margin: 0;

        color: #727272;
    }
}